*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valentina {
    color: white;
    font-family: "Love Light", cursive;
    font-size: 5vw;
}

p{
    font-size: 5vw;
}