:root{
    --Color-p: rgb(255, 153, 0);
    --Font-f:'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    position: relative;
    z-index: 1;
    background-color: var(--Color-p);
}

/* Navegacion */
/* Navegacion */




.main {
    width: 100%;
    height: 85vh;
    background-color: var(--Color-p);
}

.a-nav-sec {
    display: flex;
    width: 60%;
    height: 5vh;
    background-color: var(--Color-p);
    margin: 0 auto;    
    text-align: center;
    font-family: var(--Font-f);
    font-size: 1.4rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 4px;
    position: relative;
    top: 6vh;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    color: black;
}
.redireccion {
    width: 50%;
    height: fit-content;
    text-decoration: none;
    color: black;
}

.a-nav-sec li {
    list-style: none;
}

.ul-nav-sec {
    width: 100%;
}

.main-section {
    background-color: var(--Color-p);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border: 1px solid black;
    margin-top: 10vh;
}

.figure {
    width: 100%;
    height: fit-content;
    padding: 5px;
    text-align: center;
    background-color: var(--Color-p);
    font-family: var(--Font-f);
}
.portada {
    width: 100%;
    border-radius: 3px;
    max-height: 255px;
}
#tipo_de_archivo{
    display: none;
}


@media (min-width:600px) {
    .redireccion {
        max-width: 300px;
    }
    .figure {
        font-size: 2rem;
    }
    .portada {
        max-height: 370px;
    }
}