:root{
    --Color-p: rgb(255, 153, 0);
    --Font-f:'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    z-index: 1;
    background-color: var(--Color-p);
}

/* Navegacion */
.nav-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 15vh;
    background-color: black;
    padding-right: 3vw;
    z-index: 6;
}
.nav-logo-p{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2.3vh;
}
#logo-p {
    width: 100%;
    height: auto;
}

.nav-ul{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.nav-ul li {
    display: inline-block;
    list-style: none;
}
.nav-ul a {
    text-decoration: none;
    color: var(--Color-p);
    font-size: 1.3rem;
    font-family: var(--Font-f);
}
#ctn-bars-search{
    /* position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms; */
    position: fixed;
    background-color: var(--Color-p);
    width: 100%;
    z-index: 9;
    transition: all 400ms;
    
}

#ctn-bars-search input{
    /* display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0; */
    background-color: var(--Color-p);
    width: 100%;
    height: auto;
    border: 1px black solid;
    outline: 0;
    padding: 5px;
    font-size: 1.7rem;
    font-family: var(--Font-f);
    transition: all 400ms;
    display: none;
}
#ctn-bars-search input::placeholder { 
    color: rgb(50, 50, 50);
    opacity: 1; 
    font-size: 1.7rem;
    font-family: var(--Font-f);
  }
  #box-search{
    position: fixed;
    width: 100%;
    top: 18.5vh;
    background: var(--Color-p);
    z-index: 8;
    overflow: hidden;
    display: none;
}
#box-search li a{
    display: block;
    color: black;
    margin-top: 5px;
    padding: 1vh 3vw;
    text-decoration: none;
    border-bottom: 0.5px black solid;
    font-size: 1.7rem;
    font-family: var(--Font-f);
}
#box-search li a i{
    margin-right: 10px;
    color: black;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    display: none;
}
.nav-logo-s{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-s {
    width: 100%;
    height: auto;
}
/* Navegacion */

/* descripcion */
.main{
    background-color: var(--Color-p);
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}
.main-descripcion {
    width: 100%;
    height: fit-content;
    display: flex;
    font-family: var(--Font-f);
    text-align: left;

}
.main-descripcion picture, div.descripcion {
    border: 1px black solid;
}
.picture {
    width: 30%;
    height: auto;
    background-color: black;
}
.portada{
    width: 100%;
    height: auto;
}
.descripcion {
    width: 70%;
    flex-grow: 1;
}
.descripcion p {
    margin-left: 2vw;
}
.descripcion-b {
    text-align: center;
}
/* descripcion */

/* episodios */

.section-episodios {
    flex-grow: 1;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ul-episodios {
    width: 100%;
    font-family: var(--Font-f);
}
.ul-episodios li{
    width: 100%;
    list-style: none;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border: 1px black solid;
    background-color: var(--Color-p);
}
.ul-episodios a{
    text-decoration: none;
    color: black;
}
.lista-episodios{
    font-size: 1.5rem;
    text-align: center;
}
/* episodios */
@media (min-width:600px) {
    .nav-ul a{
        font-size: 2rem;
    }
    /* .redireccion {
        max-width: 300px;
    }
    .figure {
        font-size: 2rem;
    } */
    .nav-logo-p {
        max-width: 11.4vw;
    }
    .nav-logo-s {
        max-width: 5vw;
    }
    .descripcion-b {
        font-size: 3rem;
    }
    .descripcion {
        font-size: 2rem;
    }
    .descripcion p {
        padding-right: 1vw;
    }
    .picture {
        max-width: 20vw;
    }
    .ul-episodios a {
        font-size: 1.5rem;
    }
}